{% extends 'basic.html' %}
{% load render_table from django_tables2 %}
{% render_table table %}
{% block body %}
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   
        <script type="text/javascript">
          $(window).load(function() {
              $(".loader").fadeOut("slow");
          });
        </script>
    
    <style>
        .loader {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url("{% static 'image/Preloader_3.gif' %}") 50% 50% no-repeat rgb(249,249,249);
          opacity: .5;
      }
    </style>
  </head>
<body>
    <div class="loader"></div>
<div class="message"style="margin-top: 160px">
  {% if messages %}
    {% for  message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
  {% endif %}</div>
<!--<div class="table mt-6" style="margin-top: 160px" >{% render_table istekler %}</div>-->
<div class="table-responsive" >
  <table class="table table-hover">
    <tr>
        <th>Image Of Problem</th>
        <th>Customer Name</th>
        <th>Complaint Type</th>
        <th>Complaint Discreption</th>
        <th>Genarate Bill</th>            
    </tr>
    {% for i in istekler %} 
      {% if i.status == 1 %}     
          <tr class="danger">
            <td><img src="/media/{{i.image}}" alt="{{i.u_name}}" width="300" height="250"></td>
            <td>{{i.u_name}}</td>
            <td>{{i.c_type}}</td>
            <td>{{i.c_desc}}</td>
            <td><a href="bill{{i.c_id}}"><button type="submit" value="{{i.c_id}}" id="submit" class="btn btn-success" >Bill</button></a></td>
          </tr>  
      {% endif %} 
      {% if i.status == 2 %}     
          <tr class="danger">
            <td><img src="/media/{{i.image}}" alt="{{i.u_name}}" width="300" height="250"></td>
            <td>{{i.u_name}}</td>
            <td>{{i.c_type}}</td>
            <td>{{i.c_desc}}</td>
            <td>Bill Sent</td>
          </tr>  
      {% endif %}    
    {% endfor %}
  </table>
  
</div>
</body>
{% endblock %}