{% extends 'basic.html' %}
{%load static%}
{% block body %}

    <body>
        <div class="loader"></div>
<div style="margin-top: 150px; margin-left:100px">

    <img src="{% static 'image/c8.jpg' %}"   width="100" height="120"><br>
    <h2 style="color: red;">Corus it Solutions</h2>
   
    <p style="font-size: 18px;">
    SHOP NO-2 RUBI TRADE CENTER, <br>
    NEAR GITANJALI PETROL PUMP, <br>
    PRAMUKH SACHMA NI GALI, <br>
    Gujarat 395006,<br>
    INDIA<br>
    <br>
    Contact: 9724135044 <br>
    Email: drashanpatidar62@gmail.com<br>
    </p>
        
<br><br><br><br>



</div>
    </body>
{% endblock %}