{% extends 'basic.html' %}
{% load render_table from django_tables2 %}
{% render_table table %}
{% block body %}
{% load static %}
<div class="message"style="margin-top: 160px">
  {% if messages %}
    {% for  message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
  {% endif %}</div>
<!--<div class="table mt-6" style="margin-top: 160px" >{% render_table istekler %}</div>-->
<div class="table-responsive" >
  <table class="table table-hover">
    <tr>
        <th>Image Of Problem</th>
        <th>Customer Name</th>
        <th>Complaint Type</th>
        <th>Complaint Description</th>
        <th>Accepted By</th>
        <th>Status</th>
        <th>Rating</th>    
    </tr>
    {% for i in istekler %}   
      {% if i.m_id == 0 %}           
          <tr class="danger">
            <td><img src="/media/{{i.image}}" alt="{{i.u_name}}" width="300" height="250"></td>
            <td>{{i.u_name}}</td>
            <td>{{i.c_type}}</td>
            <td>{{i.c_desc}}</td>
            {% if i.status == 0 %}
                <td>----</td>
                <td>Panding</td>                
            {% else %}
                <td>{{i.e_name}}</td>
                <td>Solved</td>
                {% if i.rstatus == 0 %} 
                <td>
                    <button style="margin-top:5%" class="btn" data-toggle="modal" data-target="#myModal">Rate</button> 
                    <div class="modal fade" id="myModal" role="dialog">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <div class="modal-dialog">    
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">×</button>
                          <h4>Rate For Engineer</h4>
                        </div>
                        <div class="modal-body">
                          <form role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                    <input type="radio" name="stars" value="1"> 1 <i class="fa fa-star-o" aria-hidden="true"></i>Very Bad<br>
                                    <input type="radio" name="stars" value="2"> 2 <i class="fa fa-star-o" aria-hidden="true"></i>Bad<br>
                                    <input type="radio" name="stars" value="3"> 3 <i class="fa fa-star-o" aria-hidden="true"></i>Avarage<br>
                                    <input type="radio" name="stars" value="4"> 4 <i class="fa fa-star-o" aria-hidden="true"></i>Good<br>
                                    <input type="radio" name="stars" value="5"> 5 <i class="fa fa-star-o" aria-hidden="true"></i>Very Good<br> 
                                    <input type="number" name="cid" value="{{i.c_id}}" hidden><br> 
                                                               
                            </div>
                              <button type="submit" class="btn btn-block">Rate</button>                              
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div></td> 
                {% else %}
                  <td>Thank</td>
                {% endif %}               
            {% endif %}            
          </tr>
        
    {% endif %}
{% endfor %}
  </table>  
</div>

{% endblock %}