
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
   <title>Test</title>
   <style>
     h1 ,h2 {
       text-align: center;
       font-size: 24px;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 90%;
       text-align: center;
     }

      th {
       font-size: 13px;
       margin-top: 10px;
       text-align: center;
       
     }
     td{
        font-size: 11px
     }
   </style>
 </head>
 <body>
   <h1 style="color: red">IT SOLTION HUB</h1>
   <table>   
        {% if x == "englist" %}
                <center><h2 style="color:lightseagreen">IT Solution Hub Engineer List</h2></center>
                
                <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                    <th style="margin-top: 300px;">Engineer Name</th>
                    <th>Mobile Number</th>
                    <th>Engineer Type</th>
                    <th>City</th>
                    <th>Email</th>
                    <th>Feedback</th>            
                </tr>
                
                {% for i in d %} 
                    <tr class="info">
                        <td>{{i.e_name}}</td>
                        <td>{{i.contect}}</td>
                        <td>{{i.e_type}}</td>
                        <td>{{i.city}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.feedback}}&nbsp&nbsp<i class="fas fa-star" aria-hidden="true"></i></td>                
                    </tr>  
                {% endfor %}       
        
        {% elif x == "userlist" %}
            <center><h2 style="color:lightseagreen">IT Solution Hub Customer List</h2></center>
            <thead>
                <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                    <th>User Name</th>
                    <th>Mobile Number</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Email</th>            
                </tr>
            </thead>
            <tbody>
                {% for i in d %} 
                    <tr class="info">
                        <td>{{i.u_name}}</td>
                        <td>{{i.contect}}</td>
                        <td>{{i.area}}</td>
                        <td>{{i.city}}</td>
                        <td>{{i.pincode}}</td>
                        <td>{{i.email}}</td>                
                    </tr>  
                {% endfor %}
                </tbody>
            {% elif x == "itemlist" %}
                <center><h2 style="color:lightseagreen">IT Solution Hub Product List</h2></center>
                <thead>
                <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Stock</th>              
                    <th>Price</th>                            
                    <th>Rating</th> 
                    <th>Date Of Relese</th>                       
                </tr>
            </thead>
            <tbody>
                {% for i in d %} 
                    <tr class="info">
                        <td><img src="/media/{{i.image}}" alt="{{i.prod_name}}" width="200" height="150"></td>
                        <td>{{i.p_name}}</td>
                        <td>{{i.desc}}</td>
                        <td>{{i.stock}}</td>                  
                        <td>{{i.price}}</td>                                
                        <td>{{i.rating}}&nbsp&nbsp<i class="fas fa-star" aria-hidden="true"></i></td>
                    </strong>
                    <td>{{i.idate}}</td>  
                    </tr>  
                {% endfor %}
            </tbody>
        {% elif x == "cmplist" %}
                    <center><h2 style="color:lightseagreen">IT Solution Hub Complaint List</h2></center>
                    <thead>
                        <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                            <th>User Name</th>
                            <th>Complaint type</th>
                            <th>Email of Engineer</th>
                            <th>Description</th>
                            <th>Image</th>            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in d %} 
                            <tr class="info">
                                <td>{{i.u_name}}</td>
                                <td>{{i.c_type}}</td>
                                <td>{{i.e_email}}</td>
                                <td>{{i.c_desc}}</td>
                                <td>{{i.image}}</td>                
                            </tr>  
                        {% endfor %}
                    </tbody>
            {% elif x == "tralist" %}
                    <center><h2 style="color:lightseagreen">IT Solution Hub Transaction List</h2></center>
                    <thead>
                        <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                            <th>User Name</th>
                            <th>Description</th>
                            <th>Bill Status</th>
                            <th>Total Price</th>                                   
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in d %} 
                            {% if i.status == 0 %} 
                                <tr class="info">
                                    <td>{{i.u_name}}</td>
                                    <td>{{i.c_desc}}</td>
                                    <td>Panding</td>
                                    <td>{{i.total}}</td>               
                                </tr> 
                            {% elif i.status == 1 %} 
                                <tr class="info">
                                    <td>{{i.u_name}}</td>
                                    <td>{{i.c_desc}}</td>
                                    <td>Paid</td>
                                    <td>{{i.total}}</td>               
                                </tr> 
                            {% endif %}
                        {% endfor %} 
                    </tbody> 
            {% elif x == "ordlist" %} 
                <center><h2 style="color:lightseagreen">IT Solution Hub Selling List</h2></center>
                <thead>
                <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                        <th>User Name</th>
                        <th>Products Name</th>
                        <th>Email </th>
                        <th>Price</th>
                        <th>Payment</th>   
                        <th>Address</th>   
                        <th>Pincode</th>
                        <th>Date Of Order</th>            
                    </tr>
                </thead>
                <tbody>
                    {% for i in d %}          
                          <tr class="info" >
                            <td>{{i.u_name}}</td>
                            <td>{{i.p_name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.pay}}</td>
                            <td>{{i.address}}<br />{{i.landmark}}</td>
                            <td>{{i.pincode}}</td>
                            <td>{{i.odate}}</td>
                          </tr>      
                    {% endfor %}
                </tbody>
            {% else %}
                <center><h2 style="color:lightseagreen">IT Solution Hub Complaint Bill</h2></center>
                <thead>
                    <tr style="margin-top: 300px; color:rgb(76, 139, 223); background-color:rgb(251, 253, 214)">
                        <th>User Name</th>
                        <th>Description</th>
                        <th>Grand Total</th>
                        <th>Date Of Bill</th>                                   
                    </tr>
                </thead>
                <tbody>              
                        <tr class="info">
                            <td>{{d.u_name}}</td>
                            <td>{{d.c_desc}}</td>
                            <td>{{d.total}} Rs /- Only</td>
                            <td>{{d.tdate}}</td>               
                        </tr> 
                </tbody> 
            {% endif %}
   </table>
 </body>
</html>