{% extends 'basic.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<body style="margin-top: 160px">
        <div class="row" >
            <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
                <div class="panel panel-success">
                    <div class="panel-heading"><center><b><h2>Lets Edit Your Profile</h2></b></center>
                    </div>
                    <div class="panel-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                                                        
                            {% if messages %}
                                {% for  message in messages %}
                                    <div class="alert alert-{{message.tags}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                           
                            <div class="form-group">
                                    <script>
                           
                                            var check = function() {
                                                if (document.getElementById('Password').value ==
                                                  document.getElementById('cpassword').value) {
                                                  document.getElementById('Massage').style.color = 'green';
                                                  document.getElementById('Massage').innerHTML = 'matching';
                                                  document.getElementById('submit').disabled = false;
                                                } else {
                                                  document.getElementById('Massage').style.color = 'red';
                                                  document.getElementById('Massage').innerHTML = 'Conform Paaword is not matching';
                                                  document.getElementById('submit').disabled = true;
                                                }
                                              }
                                    </script>
                                    <div class="form-group">
                                            <label for="Email">Email *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                <input id="email" name="email" placeholder="E-Mail Address" data-validation="required" class="form-control" type="email"  required>
                                            </div>
                                            <div class="help-block with-errors"></div>
                                            <span id="error_Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                            <label for="Password">Password *</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                    <input onkeyup='check();' id="Password" name="Password" data-validation="Password" placeholder="Password" class="form-control"  type="password" required>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="cpassword">Conform Password *</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                   <input onkeyup='check();' id="cpassword" name="cpassword" placeholder="Conform Password" data-validation="password" class="form-control"  type="password" required>
                                            </div>
                                            <div class="help-block with-errors"></div>
                                            <span id="Massage" class="text-danger"></span>
                                    </div>
                                <center><button type="submit" id="submit" class="btn btn-warning" >
                                    SUBMIT &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-send"></span></button>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <button type="reset" id="reset" class="btn btn-warning" >
                                    Cancel &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-remove"></span></button>    
                            </center>
                            </div>
                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
{% endblock %}