{% extends 'basic.html' %}
{% load render_table from django_tables2 %}
{% render_table table %}
{% block body %}
{% load static %}
 <script>
  $('#form').submit(function(e){
    $.post('test', $(this).serialize(), function(data){ 
       $('.message').html(data.message);
       // of course you can do something more fancy with your respone
    });
    e.preventDefault();
  });
 </script>
<html>
  <head>
  </head>
  <body style="margin-top: 160px">
      <h1>Leave a Suggestion Here</h1>
          <div class="message"></div>
          <div>
              <form action="" method="post">
              
                {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Submit Feedback" />
              </form>
          </div>
  </body>
  </html>
{% endblock %}